.Button {
  overflow: hidden;
  padding: 0;
  background: transparent;
  border: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  line-height: normal;
  appearance: button;
  color: inherit;
  cursor: pointer;
}